<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Geisternetz melden</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>

<body>
    <header>
        <h2>GhostNet Global</h2>
        <nav>
            <a th:href="@{/nets}">Netze</a> |
            <a th:href="@{/nets/new}">Melden</a> |
            <a th:href="@{/nets/map}">Karte</a>
        </nav>
    </header>

    <h1>Geisternetz melden</h1>
    <form th:action="@{/nets}" method="post">
        <label>Latitude <input name="latitude" type="number" step="0.000001" required></label><br />
        <label>Longitude <input name="longitude" type="number" step="0.000001" required></label><br />
        <label>Größe (Text) <input name="sizeEstimate" type="text" required></label><br />
        <label>Anonym melden? <input name="anonymous" type="checkbox"></label><br />
        <label>Reporter-ID (optional) <input name="reporterId" type="number"></label><br />
        <button type="submit">Speichern</button>
    </form>
</body>

</html>