<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Karte – Offene Netze</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
    <header>
        <h2>GhostNet Global</h2>
        <nav>
            <a th:href="@{/nets}">Netze</a> |
            <a th:href="@{/nets/new}">Melden</a> |
            <a th:href="@{/nets/map}">Karte</a>
        </nav>
    </header>

    <h1>Karte – Offene Netze</h1>
    <div id="map" style="height: 480px;"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const data = JSON.parse(/*[[${netsJson}]]*/ '[]');
        const map = L.map('map').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 18 }).addTo(map);
        data.forEach(n => {
            const m = L.marker([n.latitude, n.longitude]).addTo(map);
            m.bindPopup(`Netz #${n.id}<br/>Größe: ${n.sizeEstimate}<br/>Status: ${n.status}`);
        });
        /*]]>*/
    </script>
</body>

</html>